body{
    background-image: url(http://getwallpapers.com/wallpaper/full/c/e/e/1523513-airplane-wallpapers-1920x1080-4k.jpg);
    background-size: 100%;
    
    color: #03f0fc;   
    font-family: sans-serif;
}
.main{
    background-color: rgba(0,100,0,0.3);
    display: inline-block;
    margin: 120px 100px 100px 70px;
    width:270px;
    padding: 4px 10px 10px 25px;
    border-radius: 12px;
    border:2px solid rgba(255,255, 255, 0.3);
}
.logo {
        position: absolute;
        top: 450px; 
        right: 50px; 
        width: 300px;
        height: 300px;
    }
h2{
    margin:8px 4px 20px 52px;
    color:green;
}
h3{
    margin:8px 4px 20px 52px;
    color:white;
}

.register{
    font-size: 18px;
    font-style: italic;

}
.name{
    width:200px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px;
    outline: 0;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(100,0,0,0.8);
}